@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Bodoni', sans-serif;
  background-color:#5D9DDE;
}
/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
}
nav.h1{
	font-family:'Bodoni MT', Bold;
  font-size: 20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
  
}
nav .onglets p>a{
	color:#fff;
	text-decoration:none;
	font-family:'Verdana', Bold;
}
nav .onglets p{
  font-size: 15px;
  margin-right: 10px;
  cursor:pointer;
  display:inline-block; 
  border-radius:3px;
 

  
  width:100px;
	 margin:2px;
	 text-decoration:none;
	 padding:5px ;
	 border-bottom:solid 10px#12086B;
	 background-color:#12086B;
	 color:ffff;
	 transition:all 0.5s ease;
  
}
nav .onglets p:hover{
		 padding:10px;
	 border-bottom:solid 15px #AAA;
	 background-color:#12086B;
	 color:#FFF;
	 transition:0.5s ease;
}
nav .onglets input{
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}
/* Fin de la barre de navigation */
aside{
	color: gradient(#fff,#12086B);
	font-size: 15px;
	font-family:'Bodoni MT'
}

/* Header */
header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  
}
header h1{
  font-size: 30px;
  max-width: 750px;
  text-align:justify;
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
}
/* Fin du header */

/* Section principale */

.main{
  margin: 20px;
  margin-top: 80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
/* Toutes les cartes */
.cards{
  display:flex;
  flex-wrap:wrap;
}
.cards .card{
  margin-right: 20px;
  cursor:pointer;
}
.cards .card img{
  width: 350px;
}
.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  background-color:#12086B;
  padding: 10px;
  color:white;
  border-radius:3px;
  border-bottom: 5px solid red;
}
.cards .card .card-body p{
  margin-top: -20px;
  color:white;
}
/* Fin de toutes les cartes */

/* Video de présentation */
.main .video{
  margin-top: 80px;
  width: 90%;
}
.main .video iframe{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}
/* Fin de la vidéo de présentation */
/* Fin de la section principale */

/* Pied de page */
footer {
  margin-top: 100px;
  background-color: #000;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 20px;
  cursor:pointer;
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display:none;
  }
  .cards .card img{
    width: 300px;
  }
}