body{
  margin:0px;
  padding: 0px;
  font-family: 'Bodoni MT', sans-serif;
  background-color:#5D9DDE;
}
/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
}
nav h1{
	font-family:'Bodoni MT';
  font-size: 20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets p>a{
	color:#fff;
	text-decoration:none;
	font-family:'Verdana', Bold;
}
nav .onglets p{
  font-size: 15px;
  margin-right: 10px;
  cursor:pointer;
  display:inline-block; 
  border-radius:3px;
  
  width:100px;
	 margin:2px;
	 text-decoration:none;
	 padding:5px ;
	 border-bottom:solid 10px#12086B;
	 background-color:#12086B;
	 color:ffff;
	 transition:all 0.5s ease;
  
}
nav .onglets p:hover{
		 padding:10px;
	 border-bottom:solid 15px #AAA;
	 background-color:#12086B;
	 color:#FFF;
	 transition:0.5s ease;
}
nav .onglets input{
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}
/* Fin de la barre de navigation */

/* Toutes les cartes */
.cards{
  display:flex;
  flex-wrap:wrap;
}
.cards .card{
  margin-right: 20px;
  cursor:pointer;
}
.cards .card img{
  width: 350px;
}
.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.cards .card .card-body p{
  margin-top: -10px;
}
/* Fin de toutes les cartes */

/* Pied de page */
footer {
  margin-top: 100px;
  background-color: #000;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 20px;
  cursor:pointer;
}
/* Fin du pied de page */
@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display:none;
  }